<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mystyle.css' %}">
</head>

<body>
    <p class="login-p">Login Page</p>
    {{ firstnamee }} {{ lastname }}

    <ul>
    <!-- for Apple in [ Mango, Apple, strawberry , Lemon ,Blackberry ]    -->
        {% for fruit in fruits %}
        <li>{{ fruit }}</li>
        {%  endfor %}
    </ul>


    {{ fruits.0}}
    <a href="../">Back</a>
</body>

</html>